<h1 mat-dialog-title>
  {{ data.title | translate }}
</h1>

<div class="multi-level-container">
  <mat-progress-bar
    class="progress-bar"
    mode="determinate"
    [value]="
      ((highestIndex + 1) * 100) / data.questions.length
    "></mat-progress-bar>
  <mat-dialog-content>
    <mat-stepper
      (selectionChange)="onChange($event)"
      orientation="vertical"
      [linear]="true"
      [selectedIndex]="currentStepperIndex"
      #stepper>
      <!-- Question back stepper -->
      <mat-step
        class="test"
        state="back"
        *ngIf="showBackOption"
        [optional]="true"
        [completed]="false">
        <ng-template
          matStepLabel
          *ngIf="offsetIndex > 1; else firstStepLabel">
          {{
            "multi-level-dialog.range"
              | translate : { start: 1, end: offsetIndex }
          }}
        </ng-template>
        <ng-template
          matStepLabel
          #firstStepLabel>
          {{ "multi-level-dialog.single" | translate : { number: 1 } }}
        </ng-template>
      </mat-step>
      <!-- Dialog steps -->
      <mat-step
        *ngFor="let elem of currentElements; let isFirst = first; let i = index"
        [stepControl]="elem.group"
        [completed]="
          i + offsetIndex <= highestIndex &&
          currentStepperIndex !== i + +showBackOption
        "
        [editable]="true">
        <form [formGroup]="elem.group">
          <ng-template matStepLabel>
            {{ elem.title | translate }}
          </ng-template>
          <ng-container *ngFor="let input of elem.config">
            <ng-container
              *ngComponentOutlet="
                input.component;
                injector: input.injector
              "></ng-container>
          </ng-container>
          <div>
            <button
              *ngIf="!isFirst || showBackOption"
              class="mat-prev"
              mat-stroked-button
              matStepperPrevious>
              {{ "multi-level-dialog.previous" | translate }}
            </button>
            <button
              class="mat-primary"
              mat-stroked-button
              (click)="next(i + offsetIndex)">
              {{ "multi-level-dialog.next" | translate }}
            </button>
          </div>
        </form>
      </mat-step>
      <!-- Question forward stepper -->
      <mat-step
        *ngIf="showForwardOption"
        state="forward"
        [completed]="false">
        <ng-template
          matStepLabel
          *ngIf="
            elements.length > offsetIndex + windowSize + 1;
            else lastStepLabel
          ">
          {{
            "multi-level-dialog.range"
              | translate
                : { start: offsetIndex + windowSize + 1, end: elements.length }
          }}
        </ng-template>
        <ng-template
          matStepLabel
          #lastStepLabel>
          {{
            "multi-level-dialog.single"
              | translate : { number: elements.length }
          }}
        </ng-template>
      </mat-step>
      <!-- Summary -->
      <mat-step
        *ngIf="!showForwardOption"
        state="summary"
        [editable]="false"
        [completed]="false">
        <ng-template matStepLabel>
          {{ "multi-level-dialog.complete" | translate }}
        </ng-template>
        <p>{{ "multi-level-dialog.complete-text" | translate }}</p>
        <div class="button-container">
          <button
            class="mat-prev mat-last-prev"
            mat-stroked-button
            matStepperPrevious>
            {{ "multi-level-dialog.previous" | translate }}
          </button>
          <div class="submit-container">
            <button
              class="mat-warning"
              mat-stroked-button
              (click)="reset()">
              {{ "multi-level-dialog.complete-reset" | translate }}
            </button>
            <button
              class="mat-primary"
              mat-stroked-button
              (click)="submit()">
              {{ "multi-level-dialog.confirm" | translate }}
              <mat-icon
                *ngIf="sending"
                class="spinner-container">
                <app-mat-spinner-overlay
                  diameter="20"
                  strokeWidth="2"
                  [color]="'primary'"></app-mat-spinner-overlay>
              </mat-icon>
            </button>
          </div>
        </div>
      </mat-step>

      <!-- Icons -->
      <ng-template matStepperIcon="summary">
        <mat-icon>done_all</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="back">
        <mat-icon>arrow_back</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="forward">
        <mat-icon>arrow_forward</mat-icon>
      </ng-template>
      <ng-template
        matStepperIcon="number"
        let-index="index">
        {{ index + offsetIndex + +!showBackOption }}
      </ng-template>
    </mat-stepper>
  </mat-dialog-content>
</div>

<div class="bottom-container">
  <button
    *ngIf="currentQuestion?.stepHelp"
    mat-flat-button
    class="help-button"
    (click)="openHelp()">
    <mat-icon>question_mark</mat-icon>
    {{ "explanation.label" | translate }}
  </button>
  <app-dialog-action-buttons
    [buttonsLabelSection]="'multi-level-dialog'"
    [cancelButtonClickAction]="onClose"></app-dialog-action-buttons>
</div>
