.mat-stepper-vertical {
  background-color: var(--surface);
  color: var(--on-surface);
  width: 100%;
}

.mat-stroked-button.mat-primary {
  color: var(--primary);
  border: 0.2em solid currentColor;
  margin-inline: 0.15em;
}

:host
  ::ng-deep
  .mat-vertical-content-container.mat-stepper-vertical-line::before {
  border-left: 1px solid var(--on-surface);
}

:host ::ng-deep .mat-step-icon {
  background-color: var(--primary);
  color: var(--on-primary);
}

:host ::ng-deep .mat-step-icon-state-number {
  background-color: var(--on-dialog);
  color: var(--dialog);
}

:host ::ng-deep .mat-step-header:has(.mat-step-icon-state-back),
:host ::ng-deep .mat-step-header:has(.mat-step-icon-state-forward) {
  cursor: pointer;
}

:host ::ng-deep .mat-step-label,
:host ::ng-deep .mat-step-label.mat-step-label-active {
  color: var(--on-surface);
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background-color: var(--green);
}

:host ::ng-deep .mat-progress-bar-buffer {
  background-color: var(--grey);
}

:host ::ng-deep .mat-step-optional {
  display: none;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.submit-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}

.mat-prev {
  color: var(--secondary);
  border: 0.2em solid currentColor;
  margin-inline: 0.15em;
}

.mat-last-prev {
  margin-right: auto;
}

.mat-warning {
  color: var(--red);
  border: 0.2em solid currentColor;
  margin-inline: 0.15em;
}

.mat-dialog-content {
  overflow-y: auto !important;
  scrollbar-gutter: stable;
}

.bottom-container {
  display: flex;
  align-items: center;

  app-dialog-action-buttons {
    flex: 1;
  }
}

.help-button {
  background-color: transparent;
  color: var(--green);
  outline: var(--green) solid 2px;
  margin: 10px;

  &:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .mat-icon {
    font-size: 18px;
  }
}

.spinner-container {
  font-size: 14px;
  margin-top: -2px;
}

.progress-bar {
  scrollbar-gutter: stable;

  ::ng-deep .mat-progress-bar-background,
  ::ng-deep .mat-progress-bar-background rect {
    fill: transparent;
  }
}
