.app-title {
  cursor: pointer;
  margin: 0 auto;
  color: var(--on-surface);
}

.brainstorming-action-icon.clickable {
  cursor: pointer;
}

#page-navigation {
  color: var(--on-background);
  margin-bottom: -1.25em;
  margin-left: 0.5em;
}

mat-toolbar {
  background-color: var(--background);
  position: relative;

  &:first-child {
    padding-left: 5px;
  }
}

.mat-toolbar-moderation {
  background-color: var(--moderator);
  position: relative;
}

mat-toolbar-row {
  padding: 0 15px 0 5px;
}

.header-icons {
  color: var(--on-surface);
}

.moderation-enabled {
  color: var(--on-surface);
  margin-left: 5px;
  font-size: medium;
  font-weight: bold;
}

.header-content-container {
  display: flex;
  justify-content: space-evenly;
  overflow: visible;

  > button {
    background-color: transparent;
    color: var(--on-background);
  }
}

.header-row-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

#options-login-box {
  display: flex;
  justify-content: flex-end;

  > mat-icon {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 7px;
    padding: 5px 0px;
  }
}

.topic-cloud-btns {
  > ars-col button {
    margin-right: 0.75em;
    cursor: default;
    width: auto;

    &:hover,
    &:focus {
      border: none;
      cursor: default;
    }
  }

  > * {
    overflow: hidden !important;
    color: var(--on-surface);
  }
}

.comment_tag-icon {
  height: 18px !important;
}

h2 {
  font-size: 14px !important;
  color: var(--on-surface);
}

.header-slogan-desktop {
  font-size: 12pt !important;
  letter-spacing: 1px;
  color: var(--primary);
}

.header-slogan-desktop-safari {
  font-size: unset !important;
  letter-spacing: 1px;
  color: var(--primary);
}

.header-slogan-mobile {
  letter-spacing: 1px;
  color: var(--primary);
}

.header-slogan-mobile-safari {
  letter-spacing: 1px;
  color: var(--primary);
}

.label-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-button {
  padding: 4px;
}

button:hover {
  outline: 2px solid var(--secondary);
}

.pseudo-button:hover {
  outline: none !important;
}

svg {
  -webkit-filter: invert(100%);
  /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.question-focus-btn {
  background-color: var(--surface);
  color: var(--primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  * {
    color: var(--primary);
  }
}

.question-focus-btn-txt {
  padding-left: 10px;
}

.color-warn {
  color: var(--red) !important;
}

.beamer-icon {
  transform: scale(1.6);
  margin-right: 12px;
}

.mat-menu-inner-title {
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  color: var(--on-background);
}

.mat-menu-inner-box {
  background-color: var(--primary-variant);
  border-radius: 5px;

  > ::ng-deep button,
  ::ng-deep ars-mat-menu-item > button,
  ::ng-deep ars-mat-sub-menu > button {
    background-color: transparent !important;

    &.outside {
      background-color: var(--dialog) !important;
      color: var(--on-dialog) !important;
    }

    &.active-nav-button {
      color: var(--on-primary) !important;
      background-color: var(--primary) !important;

      .mat-icon-no-color {
        color: currentColor !important;
      }

      svg {
        stroke: currentColor;
        fill: currentColor;
      }
    }

    &:hover {
      color: var(--on-secondary) !important;
      background-color: var(--secondary) !important;

      ::ng-deep * {
        color: var(--on-secondary) !important;
      }
    }
  }
}

h1 {
  color: var(--red);
}

.userActivityIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  background-color: var(--primary);
  -webkit-mask-image: url("../../../../assets/icons/activity.svg");
  mask-image: url("../../../../assets/icons/activity.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.userActivityTxt {
  display: inline-block;
  color: var(--primary);
  margin-left: 5px;
  font-size: 14px;
}

.focus_button {
  min-height: 28px;
  font-size: 14px;
  color: var(--on-surface);
}

.focus_item:focus {
  background-color: var(--secondary) !important;
  color: var(--on-secondary) !important;
}

.theme-btn {
  &:focus {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
  }

  &:hover {
    background-color: var(--secondary) !important;
    color: var(--on-secondary) !important;
  }
}

.btnContent {
  width: 100%;
  height: 50px;
  float: left;
  margin-bottom: 5px;
}

.btnContent > .btnColorIcon {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
  padding: 0px;
  border-radius: 20px;
}

.checked {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  float: left;
  border-radius: 100%;
  transition: all 0.1s;
  border-color: var(--red) !important;
  border-width: thick !important;

  &.checked_true {
    transform: scale(1);
    opacity: 1;
    background-color: transparent;

    > .theme-icon {
      display: none;
    }

    > .theme-icon-checked {
      opacity: 1;
    }
  }

  &.checked_false {
    opacity: 1;

    > .theme-icon {
      opacity: 1;
    }

    > .theme-icon-checked {
      display: none;
    }
  }

  > mat-icon {
    float: left;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    border-radius: 100%;
  }
}

.btnContent > .btnAppend {
  width: calc(100% - 50px);
  float: right;
  position: relative;
  top: -10px;
}

.btnContent > .btnAppend > .title {
  width: 100%;
  height: 15px;
  float: left;
  margin-bottom: 5px;
}

.btnContent > .btnAppend > .title:last-child {
  margin-bottom: 0px;
}

.title > * {
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  padding: 0px;
  margin-left: 12px;
  margin-top: 10px;
}

.title_bold {
  font-weight: 500;
}
